%font{:size => "6" , :color => "#E7746F"} About Me

.container-new
  %h1 I am an open source developer with hands on experience in ROR.
.container-new
  %h1 I love developing restfull web services and trying out new programming languages,tools,frameworks etc.
.container-resume
  Download My Complete Resume Here




