#content
  / insert the page content here
  %h1 Welcome to the textured_orbs template
  %p
    This standards compliant, simple, fixed width website template is released as an 'open source' design (under a
    = succeed ")," do
      %a{:href => "http://creativecommons.org/licenses/by/3.0"} Creative Commons Attribution 3.0 Licence
  %p
    This template is written entirely in
    %strong HTML5
    and
    = succeed "," do
      %strong CSS
  %p
    You can view more free HTML5 web templates
    = succeed "." do
      %a{:href => "http://www.html5webtemplates.co.uk"} here
  %p
    This template is a fully functional 5 page website, with an
    %a{:href => "examples.html"} examples
    page that gives examples of all the styles available with this design.
  %h2 Browser Compatibility
  %p This template has been tested in the following browsers:
  %ul
    %li Internet Explorer 9
    %li FireFox 25
    %li Google Chrome 31
